# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Environment variables
.env

# IDE
.idea/
*.swp
*.swo
*~
.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Logs and temp files
*.txt
/qodana.yaml
/coverage
