extends: default

rules:
  line-length:
    max: 256
    level: warning
  indentation:
    spaces: 2
    indent-sequences: true
  truthy:
    level: warning
    allowed-values: ["true", "false", "on"]
  document-start: disable
  comments:
    level: warning
    min-spaces-from-content: 1

ignore: |
  vendor/
